.total {
    position: fixed;
    width: 100vw;
    height: 85px;
    bottom: 0;
    background-color: black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    div > *{
        color: white;
    }
}