.total {
  position: fixed;
  width: 100vw;
  height: 80px;
  bottom: 0;
  background-color: black;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-width: 560px;
  div > * {
    color: white;
  }
}
